
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(140, 83, 255);
  padding: 20px;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
}


nav {
  background-color: #d8d8d8;
  padding: 10px;
  justify-content: center;
}

nav a {
  color: rgb(140, 83, 255);
  text-decoration: none;
  margin: 0 20px;
  font-size: 24px;
  border-bottom: 1px solid rgb(140, 83, 255)
}

nav a:hover {
  color: rgb(255, 255, 255);
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

h2 {
  font-size: 27px;
  margin-bottom: 20px;
  color: rgb(140, 83, 255);
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin-bottom: 20px;
}

li {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 30px;
}

thead {
  background-color: #8c53ff;
  color: white;
  font-weight: bold;
}
th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th:first-child, td:first-child {
  border-left: none;
}

th:last-child, td:last-child {
  border-right: none;
}

ul {
  list-style-type: disc;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
}

li {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}


footer {
  background-color: rgb(209, 187, 252);
  color: black;
  padding: 20px;
  text-align: center;
}

/* Cookie popup styles */

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

#cookie-popup {
  font-family: "Source Code Pro", monospace;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #8c53ff;
  color: #fff;
  padding: 2rem;
  text-align: center;
  font-size: 1.25rem;
  max-width: 100%;
  height: auto;
  z-index: 9999;
}

#cookie-popup a {
  color: #fff;
}

#cookie-popup a:hover {
  color: lightpink;
  text-decoration: underline;
}

#accept-cookies {
  font-family: "Source Code Pro", monospace;
  background-color: #fff;
  color: #333333;
  border: none;
  padding: 5px 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

#accept-cookies:hover {
  background-color: lightpink;
  transition: 0.4s;
}

.white-text {
  color: white;
}

.white-text a {
  color: white;
  text-decoration: none;
}

.white-text a:hover {
  color: #cccccc;
  text-decoration: underline;
}